.wrapper {
  display: flex;
  justify-content: center;
}
.format{
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 400px;
  padding: 1rem;
  border: lightblue;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  align-items: left;
}
input{
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  
}
button{
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}
button:hover{
  background-color: darkblue;
}

.box{
  justify-content: center;
  max-width: 600px;
  padding: 24px;
  margin-top: 40px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

form{
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: auto;
}

form input{
  width: 100%;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.form button{
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  width: 100%;
}

.form button:hover{
  background-color: darkblue;
}

form label {
  margin-bottom: 12px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 12px;
}
